*{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body{
            background-color: #f1f1f1;
        }

        .product{
            margin: 50px auto;
            padding-top: 40px;
            width: 270px;
            height: 253px;
            background-color: #fff;
            text-align: center;

            border-radius: 10px;
        }

        .product h3{
            margin-top: 20px;
            margin-bottom: 12px;
            font-size:18px;
            color: #333333;
            font-weight: 400;

        }
        .product p{
            font-size: 12px;
            color: #555;
        }
